.get-100-off {
  position: relative;
  line-height: 22px;
}
.ticker {
  align-self: stretch;
  background-color: #605f4b;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 14px 20px;
}
.logologo-symbol-icon {
  height: 100px;
  width: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.netnook {
  position: relative;
  white-space: nowrap;
}
.logo,
.loop-controller {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 12px 20px 0;
}
.logo {
  padding: 0 5px;
}
.about-us,
.partner-with-us {
  white-space: nowrap;
}
.about-us,
.blog,
.community,
.partner-with-us {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.data-filter,
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}
.data-filter {
  width: 568px;
  justify-content: flex-start;
  padding: 20px 0;
  gap: 24px;
  text-align: center;
  font-size: 16px;
  color: #1d1d1d;
}
.navigation {
  align-self: stretch;
  background-color: #fffcf5;
  overflow: hidden;
  justify-content: space-between;
  padding: 0 120px;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: 20px;
  text-align: left;
  font-size: 33.3px;
  color: #000;
  font-family: "IBM Plex Sans";
}
.vector-icon {
  height: 38px;
  width: 34px;
  position: relative;
}
.giftglyph {
  height: 36px;
  position: relative;
  letter-spacing: 2.03px;
  line-height: 110%;
  font-weight: 800;
  display: inline-block;
}
.logo1 {
  width: 254px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.logologo-symbol-icon1 {
  height: 100px;
  width: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.netnook1 {
  position: relative;
}
.logo2,
.netnook-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 12px 20px 0;
}
.logo2 {
  padding: 0 7px;
}
.logo-group,
.logo-parent {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.logo-group {
  width: 367px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
  font-size: 33.3px;
  color: #fff;
  font-family: "IBM Plex Sans";
}
.logo-parent {
  width: 705px;
  background-color: #374375;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 122.5px 20px;
  box-sizing: border-box;
  gap: 138px;
  min-width: 705px;
}
.footer,
.home-page1 {
  display: flex;
  align-items: flex-start;
}
.footer {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  row-gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: 32.5px;
  color: #374375;
  font-family: Lato;
}
.home-page1 {
  width: 100%;
  position: relative;
  background-color: #fffcf5;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: "IBM Plex Sans";
}
@media screen and (max-width: 1900px) {
  .logo-parent {
    flex: 1;
  }
  .footer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1425px) {
  .data-filter {
    display: none;
  }
  .navigation {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 950px) {
  .navigation {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .giftglyph {
    font-size: 26px;
    line-height: 29px;
  }
  .netnook1 {
    font-size: 27px;
  }
  .logo-parent {
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .giftglyph {
    font-size: 19px;
    line-height: 21px;
  }
  .netnook1 {
    font-size: 20px;
  }
  .logo-parent {
    gap: 69px;
  }
}
