.inner-blog-inner,
.inner-blog1 {
  background-color: #fffcf5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.inner-blog-inner {
  align-self: stretch;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.inner-blog1 {
  width: 100%;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 850px) {
  .inner-blog-inner {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
