.header-child {
  height: 50px;
  width: 985px;
  position: relative;
  border-radius: 5px;
  background-color: #374375;
  flex-shrink: 0;
  display: none;
}
.product {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 57px;
  z-index: 1;
}
.value-range {
  width: 238px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
}
.price13 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 37px;
  z-index: 1;
}
.value-range1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px 0 0;
}
.quantity,
.total {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 62px;
  z-index: 1;
}
.total {
  min-width: 36px;
}
.header {
  align-self: stretch;
  border-radius: 5px;
  background-color: #374375;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 38px 12px;
  gap: 151px;
}
.data-transformer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2.27px;
}
.lets-rebuild-nepal-15,
.pngtreetechnology-sense-chip-2 {
  position: absolute;
  height: 162.32%;
  width: 135.32%;
  top: -34.71%;
  right: -1.69%;
  bottom: -27.61%;
  left: -33.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.pngtreetechnology-sense-chip-2 {
  height: 18.84%;
  width: 11.77%;
  top: 14.71%;
  right: 10.32%;
  bottom: 66.45%;
  left: 77.9%;
  object-fit: contain;
  z-index: 2;
}
.india-card2 {
  height: 77.5px;
  flex: 1;
  position: relative;
  border-radius: 2.28px;
  background-color: #ef3b5e;
  overflow: hidden;
}
.cards3 {
  width: 124px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.durbarcomm2,
.gb16 {
  width: 179px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.gb16 {
  line-height: 100%;
  font-weight: 500;
  font-family: Montserrat;
  color: #929292;
}
.variable-value {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 8px;
  min-width: 169px;
}
.div17,
.gb17 {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.div17 {
  min-width: 62px;
  white-space: nowrap;
}
.gb17 {
  min-width: 32px;
}
.parent3 {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 10px;
}
.icon-plus {
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.div18 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 10px;
}
.icon-minus {
  margin: 0;
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.icon-plus-parent {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #222930;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 9px 10px 7px;
  gap: 20px;
}
.hourly {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 48px;
}
.frame-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper2 {
  flex-direction: column;
  padding: 3px 0 0;
}
.frame-parent58,
.frame-wrapper2,
.hourly-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hourly-parent {
  border-radius: 8px;
  background-color: #374375;
  overflow: hidden;
  flex-direction: row;
  padding: 8px 16px;
  gap: 10px;
  color: #fff;
  font-family: "IBM Plex Sans";
}
.frame-parent58 {
  width: 205px;
  flex-direction: column;
  padding: 0 93px 0 0;
  box-sizing: border-box;
  gap: 15px;
  color: #222930;
  font-family: Montserrat;
}
.div19 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 53px;
  white-space: nowrap;
}
.child-conditional,
.feature-splitter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.child-conditional {
  width: 882px;
  flex-direction: row;
  gap: 15px;
  color: #000;
}
.feature-splitter {
  align-self: stretch;
  flex-direction: column;
  gap: 36px;
  color: #fff;
}
.frame-child18 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #cacaca;
  box-sizing: border-box;
}
.chinacard-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2.27px;
}
.lets-rebuild-nepal-16,
.pngtreetechnology-sense-chip-3 {
  position: absolute;
  height: 162.32%;
  width: 135.32%;
  top: -34.71%;
  right: -1.69%;
  bottom: -27.61%;
  left: -33.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.pngtreetechnology-sense-chip-3 {
  height: 18.84%;
  width: 11.77%;
  top: 13.81%;
  right: 10.32%;
  bottom: 67.35%;
  left: 77.9%;
  z-index: 2;
}
.chinacard {
  height: 77.5px;
  flex: 1;
  position: relative;
  border-radius: 2.28px;
  background-color: #ef3b5e;
  overflow: hidden;
}
.cards4 {
  width: 124px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.durbarcomm3,
.gb18 {
  width: 179px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.gb18 {
  line-height: 100%;
  font-weight: 500;
  font-family: Montserrat;
  color: #929292;
}
.durbarcomm-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 8px;
  min-width: 169px;
}
.div20,
.gb19 {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.div20 {
  min-width: 62px;
  white-space: nowrap;
}
.gb19 {
  min-width: 32px;
}
.parent4 {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 10px;
}
.icon-plus1 {
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.div21 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 10px;
}
.icon-minus1 {
  margin: 0;
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.icon-plus-group {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #222930;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 9px 10px 7px;
  gap: 20px;
}
.hourly1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 48px;
}
.frame-child19 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper3 {
  flex-direction: column;
  padding: 3px 0 0;
}
.frame-parent59,
.frame-wrapper3,
.hourly-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hourly-group {
  border-radius: 8px;
  background-color: #374375;
  overflow: hidden;
  flex-direction: row;
  padding: 8px 16px;
  gap: 10px;
  color: #fff;
  font-family: "IBM Plex Sans";
}
.frame-parent59 {
  width: 205px;
  flex-direction: column;
  padding: 0 93px 0 0;
  box-sizing: border-box;
  gap: 15px;
  color: #222930;
  font-family: Montserrat;
}
.data-aggregator3 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 53px;
  white-space: nowrap;
}
.cards-container,
.line-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cards-container {
  width: 882px;
  flex-direction: row;
  gap: 15px;
}
.line-group {
  align-self: stretch;
  flex-direction: column;
  gap: 35px;
}
.frame-child20 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #cacaca;
  box-sizing: border-box;
}
.nepal-card-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2.27px;
}
.image-1-icon3,
.lets-rebuild-nepal-17 {
  position: absolute;
  height: 162.32%;
  width: 135.32%;
  top: -34.71%;
  right: -1.69%;
  bottom: -27.61%;
  left: -33.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.image-1-icon3 {
  height: 26.06%;
  width: 18.39%;
  top: 12.39%;
  right: 7.74%;
  bottom: 61.55%;
  left: 73.87%;
  object-fit: contain;
  z-index: 2;
}
.nepal-card3 {
  height: 77.5px;
  flex: 1;
  position: relative;
  border-radius: 2.28px;
  background-color: #ef3b5e;
  overflow: hidden;
}
.cards5 {
  width: 124px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.durbarcomm4,
.gb20 {
  width: 179px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.gb20 {
  line-height: 100%;
  font-weight: 500;
  font-family: Montserrat;
  color: #929292;
}
.durbarcomm-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 8px;
  min-width: 169px;
}
.div22,
.gb21 {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.div22 {
  min-width: 62px;
  white-space: nowrap;
}
.gb21 {
  min-width: 32px;
}
.parent5 {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 10px;
}
.icon-plus2 {
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.div23 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 10px;
}
.icon-minus2 {
  margin: 0;
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.icon-plus-container {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #222930;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 9px 10px 7px;
  gap: 20px;
}
.hourly2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 48px;
}
.frame-child21 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper4 {
  flex-direction: column;
  padding: 3px 0 0;
}
.frame-parent60,
.frame-wrapper4,
.hourly-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hourly-container {
  border-radius: 8px;
  background-color: #374375;
  overflow: hidden;
  flex-direction: row;
  padding: 8px 16px;
  gap: 10px;
  color: #fff;
  font-family: "IBM Plex Sans";
}
.frame-parent60 {
  width: 205px;
  flex-direction: column;
  padding: 0 93px 0 0;
  box-sizing: border-box;
  gap: 15px;
  color: #222930;
  font-family: Montserrat;
}
.div24 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 53px;
  white-space: nowrap;
}
.cards-parent1,
.feature-splitter-parent,
.line-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cards-parent1 {
  width: 882px;
  flex-direction: row;
  gap: 15px;
}
.feature-splitter-parent,
.line-parent1 {
  flex-direction: column;
}
.line-parent1 {
  align-self: stretch;
  gap: 35px;
}
.feature-splitter-parent {
  flex: 1;
  gap: 55px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: "IBM Plex Sans";
}
@media screen and (max-width: 1225px) {
  .header {
    gap: 75px;
  }
}
@media screen and (max-width: 850px) {
  .child-conditional {
    flex-wrap: wrap;
  }
  .feature-splitter {
    gap: 18px;
  }
  .cards-container {
    flex-wrap: wrap;
  }
  .line-group {
    gap: 17px;
  }
  .cards-parent1 {
    flex-wrap: wrap;
  }
  .line-parent1 {
    gap: 17px;
  }
  .feature-splitter-parent {
    gap: 27px;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .header {
    gap: 38px;
  }
}
