.nepal-card-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9.98px;
}
.lets-rebuild-nepal-13 {
  position: absolute;
  height: 162.35%;
  width: 135.29%;
  top: -34.71%;
  right: -1.65%;
  bottom: -27.65%;
  left: -33.64%;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.image-1-icon2,
.lets-rebuild-nepal-13,
.nepal-card2 {
  overflow: hidden;
  max-width: 100%;
}
.image-1-icon2 {
  position: absolute;
  height: 26.03%;
  width: 18.38%;
  top: 12.35%;
  right: 7.72%;
  bottom: 61.62%;
  left: 73.9%;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.nepal-card2 {
  height: 340px;
  flex: 1;
  position: relative;
  border-radius: 10px;
  background-color: #ef3b5e;
}
.cards1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  height: 100%;
}
.tag-icon46 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.tag-label3 {
  position: relative;
  font-size: 16px;
  line-height: 135%;
  text-transform: uppercase;
  font-family: "IBM Plex Sans";
  color: #1d1d1d;
  text-align: left;
}
.tag3 {
  cursor: pointer;
  border: 0;
  padding: 10px 16px;
  background-color: #f2f8ff;
  position: absolute;
  top: 43px;
  left: 42px;
  border-radius: 999px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  z-index: 1;
}
.tag3:hover {
  background-color: #d9dee6;
}
.cards-parent {
  height: 340px;
  max-width: 100%;
}
.cards-parent,
.durbarcomm,
.nepal18 {
  align-self: stretch;
  position: relative;
}
.nepal18 {
  line-height: 150%;
  text-transform: capitalize;
}
.durbarcomm {
  margin: 0;
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
  color: #1d1d1d;
}
.div9,
.netnook-offers-a {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
}
.div9 {
  font-size: 18px;
  line-height: 22px;
  font-family: Inter;
  color: #1d1d1d;
  white-space: nowrap;
}
.tag-icon47 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button45 {
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: "IBM Plex Sans";
  color: #fff;
  text-align: center;
}
.button-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.tag-icon48 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.button44 {
  flex: 1;
  border-radius: 16px;
  background-color: #374375;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 16px 20px;
  box-sizing: border-box;
  gap: 16px;
  max-width: 100%;
}
.frame-button,
.listing-single-block-deskt3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  flex-direction: row;
}
.listing-single-block-deskt3 {
  width: 544px;
  flex-direction: column;
  gap: 18px;
  min-width: 517px;
  text-align: left;
  font-size: 14px;
  color: #545454;
  font-family: "IBM Plex Sans";
}
@media screen and (max-width: 950px) {
  .listing-single-block-deskt3 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .durbarcomm {
    font-size: 19px;
    line-height: 23px;
  }
}
